
<!-- <html> -->
  {% extends 'index.html' %}
{% block body %}
    <body>

  

        <h2>Forgot Password<span class="text-primary">.</span></h2>
        <form method="post" action="got" enctype="multipart/form-data" >
          <table class="table" style="width: 500px;color: black">
            <tr width="500">
              <td>Username:</td>
              <td><input type="email" class="form-control" name="uname"></td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td><input type="text"  minlength="10" maxlength="10" pattern="[6-9]{1}[0-9]{9}" class="form-control" name="ph"></td>
            </tr>
            <tr>
              <td colspan="2" align="center"><input type="submit" class="btn btn-success" name="forgot" value="Submit"></td>
            </tr> 

           
          </table>
        </form>
    </body>
    {% endblock %}
    <!-- </html> -->
     