
{% extends 'adminindex.html' %}
{% block bb %}


<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
   
        $("input[name='name']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });

        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
          $(this).val($(this).val().replace(/[^0-9]/g, ''));
          if ($(this).val().length > 10) {
              $(this).val($(this).val().substring(0, 10));
           }
        });
        // $("input[name='pincode']").on('input', function(e) {
        // 	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        // });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        // $("input[name='address']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        // });
      

   var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>


<body>

  <br><br><br>
<form id="form1" name="form1" method="post" >
  <center>
  <table class="table" style="width: 500px;color: white;background:opacity: 0.5;">
    <h2 style="color: rgb(21, 20, 20)">Pharmacy Registration</h2>
    <tr width="500">
      <td  style="color:rgb(5, 5, 5)" >Name</td>
      <td><label>
        <input type="text" class="form-control" style="text-transform:capitalize;"  id="inputField" required name="name" autocomplete="off" oninput="validateInput(event)"/>

        <script>
          function validateInput(event) {
            var inputValue = event.target.value;
            var regex = /^[a-zA-Z]+$/;
            if (!regex.test(inputValue)) {
              event.target.value = inputValue.slice(0, -1);
            }
          }
        </script>
      </label></td>
    </tr>
    <tr>
      <td  style="color:rgb(5, 5, 5)">Place</td>
      <td><label>
        <input type="text" style="text-transform:capitalize;" class="form-control" required name="place" autocomplete="off" oninput="validateInput(event)"/>
      </label></td>
    </tr>
    <tr>
      <td  style="color:rgb(5, 5, 5)">Floor No</td>
      <td><label>
        <input type="text" style="text-transform:capitalize;" class="form-control" required name="floor" autocomplete="off" oninput="validateInput(event)"/>
      </label></td>
    </tr>
    
    <tr>
      <td  style="color:rgb(5, 5, 5)">Phone</td>
      <td><label>
        <input type="text" class="form-control" name="phone" style="text-transform:capitalize;"  minlength="10" maxlength="10" pattern="[6-9]{1}[0-9]{9}" required autocomplete="off" oninput="validatenumber(event)"/>
        <script>
          function validatenumber(event) {
        var inputValue = event.target.value;
        var regex = /^\d{0,10}$/;
    if (!regex.test(inputValue)) {
      event.target.value = inputValue.slice(0, -1);
    }
  }
        </script>
      </label></td>
    </tr>
    <tr>
      <td  style="color:rgb(5, 5, 5)">Email</td>
      <td><label>
        <input type="text" class="form-control" name="email"  required autocomplete="off" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
      
      
      </label></td>
    </tr>
    <tr>
      <td  style="color:rgb(5, 5, 5)">Password</td>
      <td><label>
        <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" id="password" onkeyup='check();' name="pwd" required autocomplete="off"/>
      </label></td>
    </tr>
    <tr>
      <td  style="color:rgb(5, 5, 5)">Confirm Password</td>
      <td><label>
        <input type="password" class="form-control" id="confirm_password" onkeyup='check();' name="cpwd" required autocomplete="off"/>
      </label></td>
      <td><span id='message'></span></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <input type="submit" name="Submit" value="Register" class="btn btn-info"/>
      </label></td>
    </tr>
  </table>
</center>
</form>
{% endblock %}
