<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head> -->
{% extends 'doctorindex.html' %}
{% block b7 %}
<body>
  <br><br><br><br>
  <h1 style="color: black;">View Booking</h1>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <th style="color: black;">Patient</th>
      <th style="color: black;">Date</th>
      <th style="color: black;">Time</th>
      <th style="color: black;">Status</th>
     
    </tr>
    {% for i in val %}
    <tr>
      <td style="color: black;">{{i.patient_id.first_name}}</td>
      <td style="color: black;">{{i.date}}</td>
      <td style="color: black;">{{i.time}}</td>
     
      
     
       

      {% if i.status == 'Paid' %}
         <td style="color: black;">
        <a class="btn btn-success btn-xs" href="/doctor_add_prescription/{{i.book_id}}">Add Prescriptions</a>

          <a class="btn btn-success btn-xs" href="/doctor_view_user_uploaded_prescription/{{i.book_id}}">User Prescription</a>
      </td>

        {% else %}
   
        <td style="color: black;">{{i.status}}</td>
        {% endif %}
   
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
<!-- </html> -->
